.line{
  background: #091B44;
  width: 100%;

  .box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    span{
      color: #FFF;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      padding: 10px 80px;
      text-transform: uppercase;
      will-change: transform;
      transform: translateX(0);
      white-space: nowrap;
      animation: marquee 4s linear infinite;
    }
  }


}


/* Media Query for Mobile Devices */
@media (max-width: 480px) {

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {

}

/* Media Query for Tablets Ipads portrait mode */
@media (max-width: 1000px) {

}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {

}

/* Media Query for Large screens */
@media (min-width: 1281px) {

}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}