@import "../../../assets/sass/variables.scss";

.info{
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  padding: 60px 30px 30px;
  text-align: center;
  font-size: 16px;
  border-radius: 8px;

  .icon{
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 100px;
    font-size: 48px;
    border-radius: 50px;
    border: 10px solid #fff;
    line-height: 80px;
    text-align: center;
    background: #EAEFFA;
    color: $primary;
    z-index: 1;
  }
}

.box{
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 30px;
}