.services{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #F5F7FA;
  padding: 40px 20px;

  .tabs{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    .tab{
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-right: 10px;
      margin-left: 10px;
      cursor: pointer;
      border-bottom: 2px solid transparent;
      padding: 5px;
      user-select: none;

      &.active{
        border-bottom: 2px solid #091B44;
      }
    }

    .tab_content{
      position: absolute;
    }
  }
}