$primary: #4A71FB;
$dark: #282f38;
$light: #f6f6f7;
$error: #e9573f;
$gray: #717C8C;
$white: #fff;
$black: #000000;
$green: #6EAA3C;
$red: #b40b0b;
$brown: #C19E7A;
$purple: #822CCD;
$orange: #F0AC47;
